#Content-Profile {
    text-align: center;
    padding: 40px 20%;
}

#Profile-Photo {
    width: 120px;
    height: 120px;
    display: inline-block;
}

#User-Data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#User-Data-Info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

#Posts-Title{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
    border-top: 1px solid #dbdbdb;
    padding: 10px 0;
}

#User-Data-Name {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    display: inline-block;
}

#User-Public-Data-Desktop {
    margin-bottom: 20px;
    display: flex;
}

#User-Public-Data-Desktop span:hover{
    cursor: pointer;
}

#User-Public-Data-Desktop span {
    display: flex;
}

#User-Public-Data-Desktop strong {
    margin-right: 5px;
}

#User-Public-Data-Desktop span {
    margin-right: 25px;
}

#User-Options {
    text-align: left;
}


#Post-Profile-Area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Post-Profile {
    margin-bottom: 15px;
    width: 100%;
    aspect-ratio: auto 1;
    transition: all 0.1s ease;
}

.Post-Profile:not(:last-child):not(:first-child) {

}

.Post-Profile img {
    height: 100%;
    width: calc(100% - 15px);
    object-fit: cover;

}

.Post-Profile:hover{
    cursor: pointer;
    scale: 1.02;
    transition: all 0.3s ease;
}

.Post-Profile:active{
    cursor: pointer;
    scale: 1;
}

#Profile-Buttons {
    display: inline-flex;
    flex-direction: row;
    margin-left: 30px;
}

.Profile-Button:hover {
    cursor: pointer;
}

.Profile-Button {
    padding-inline-start: 5px 10px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.Profile-Button:first-child {
    border: 1px solid #dbdbdb;
    margin-right: 20px;
}

.Profile-Button:last-child {
    background-color: #0095f6;
    color: white;
}

#User-Bio {
    margin-top: 5px;
}

#erroVoltar {
    font-size: 1em;
    color: blue;
}

#erroVoltar:hover {
    cursor: pointer;
}

#User-Public-Data-Mobile {
    display: none;
}

#alterarFoto {
    border: 1px solid #dbdbdb;
    margin: 30px 5px;
    padding: 15px;
    overflow: hidden;
}

.Lista-Pessoas {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
}

#Lista-Pessoas-Tipo{
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
}

#Lista-Pessoas-Itens {
    display: flex;
    flex-direction: column;

}

.Lista-Pessoas-Item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Lista-Pessoas-Item:hover{
    cursor: pointer;
    background-color: #ecebeb;
}

.Lista-Pessoas-Item span{
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {

    .Post-Profile img {
        height: 100%;
        width: calc(100% - 5px);
        object-fit: cover;
    }

    #Content-Profile {
        padding: 40px 5px;
    }

    #User-Public-Data-Desktop {
        display: none;
    }

    #User-Data {
        justify-content: center;
        margin-bottom: 0;
    }

    .Profile-Button {
        font-size: .8em;
    }

    #User-Data-Info {
        margin-left: 15px;
    }

    #Profile-Buttons {
        display: flex;
        margin-left: 0;
        margin-bottom: 15px;
    }

    #User-Public-Data-Mobile {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        padding: 15px 0;
    }

    #Post-Profile-Area {
        flex-wrap: wrap;
    }

}