.SignUp{
    width: 100%;
    padding-top: 5vh;
}

#SignUp{
    padding: 40px 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

form{
    margin-top: 20px;
}

.Info{
    text-align: center;
    padding: 0 5px;
    font-size: .75em;
    color: #a7a6a6;
}

.Info:not(:first-child){
    margin-top: 10px;
}

.Info span{
    font-weight: 500;
}

#info{
    margin: 20px 0;
}

#JaTem{
    padding: 15px 10px;
}